[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fmriqa"]
	path = fmriqa
	url = https://github.com/martin3141/fmriqa
[submodule "spant"]
	path = spant
	url = https://github.com/martin3141/spant
